body{
  background-color: grey;
}

.container{
  width: 1000px;
  margin: auto;
  box-sizing: border-box;
}

img{
  border-radius: 10px;
}

.ipad, .iphone, .beats{
  width: 300px;
  height: 372px;
  display: inline-block;
  position: relative;
}

.discount{
  position: absolute;
  top: 0;
  right: 0;
}

.green{
  background: green;
  border-radius: 3px;
  border: 0.5px solid black;

}

.red{
  background: red;
  border-radius: 3px;
  border: 0.5px solid black;

}

.heart{
  width: 100%;
  color: red;
  position: absolute;
  bottom: 0;
  font-size: 25px;
  display: none;
  text-align: center;
}

.ipad:hover .heart{
  display: block;
}

.iphone:hover .heart{
  display: block;
}

.beats:hover .heart{
  display: block;
}
